$color-header-bg: var(--color-header-bg);
$color-header-icons: var(--color-header-icons);
$color-green-button-bg: var(--color-green-button-bg);
$color-header-background: var(--header-background);
$color-navbar-links: var(--color-navbar-links);
$color-1-bright: var(--color-1-light);
$outline-offset: var(--outline-offset);
$color-green-searchIcon-searchBar: var(--color-green-searchIcon-searchBar);
$primary-color: #00b894;
$primary-hover: #019875;