$color-theme: var(--color-theme);
$color-primary: var(--color-primary);
$color-primary-darker: var(--color-primary-darker);
$color-secondary: var(--color-secondary);
$color-secondary-darker: var(--color-secondary-darker);
$outline-offset: var(--outline-offset);
$color-primary-lighter:var(--color-primary-lighter);
$color-primary-more-lighter: var(--color-primary-more-lighter)