@use "../../styles/abstracts/variables" as *;

.heroSlider {
  position: absolute;
  width: 100%;
  min-height: 35.75rem;
  overflow: hidden;
  direction: rtl;
  font-family: inherit;
  top: 0;
  z-index: 0;
}

/* ----------------------------- Slides ----------------------------- */
.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 1;
    z-index: 1;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: #fff;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-inline:auto;
}

.title {
  font-size: 2.375rem;
  text-align: start;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 700;
}

.subtitle {
  text-align: start;
  margin-top: 0.625rem;
  font-size: 1.875rem;
  line-height: 1.6;
  font-weight: 700;
}

.description {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.9);
  text-align: start;
  margin-top: 1.875rem;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 2.2rem;
  border-radius: 100vmax;
  font-size: 1.1rem;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    // background-color: $primary-hover;
  }
}

.controlsContainer {
  position: absolute;
  bottom: 2.5625rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  gap: 1.875rem;
  z-index: 2;
}

.dots {
  display: flex;
  gap: 1.875rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #fff;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &.active {
    transform: scale(1.1);

    background-color: $color-theme;
  }

  &:focus,
  &:hover {
    transform: scale(1.1);
  }
}

/* ----------------------------- Pause / Play Button ----------------------------- */
.pauseButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
  padding:0;

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $color-theme;
    outline: 1px solid $color-theme;
  }
}

.pauseIcon {
  pointer-events: none;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
}

@media (orientation: landscape) and (min-width: 520px) {

  .content {
    max-width: 62.625rem;

  }
  .title {
    font-size: 3.75rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  .button {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
  }

  .heroSlider {
    height: 41.375rem;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .heroSlider {
        height: 41.375rem;

    // height: 90vw;
  }
}
