:root[data-theme="dark"] {
  --color-theme: rgb(24, 24, 24);
  --color-primary: rgba(187, 172, 215, 1);
  --color-primary-lighter: rgba(217, 211, 227, 1);
  --color-primary-more-lighter: rgb(230, 230, 245);
  --color-primary-darker: rgba(69, 42, 122, 1);
  --outline-offset: 3px;
  --color-secondary: rgba(10, 178, 133, 1);
  --color-secondary-darker: rgba(1, 152, 117, 1);
  --color-header-icons: rgba(230, 230, 245, 1);
  --color-navbar-links: rgba(69, 42, 122, 1);
}
