:root[data-theme="light"] {
  --color-theme: rgb(255, 255, 255);
  --color-primary: rgba(69, 42, 122, 1);
  --color-primary-lighter:rgba(187, 172, 215, 1);
  --color-primary-more-lighter:rgb(217, 211, 227);

  --color-primary-darker: rgb(44, 27, 80);
  --outline-offset: 3px;
  --color-secondary: rgba(10, 178, 133, 1);
  --color-secondary-darker: rgba(1, 152, 117, 1);
}
