:root[data-theme="light"] {
  --color-header-bg: rgba(255, 255, 255, 1);
  --color-header-icons: rgba(69, 42, 122, 1);
  --color-green-button-bg: rgba(10, 178, 133, 1);
  --color-navbar-links: rgba(69, 42, 122, 1);
  --color-header-language-button-text: rgba(69, 42, 122, 1);
  --outline-offset: 3px;
  --color-green-searchIcon-searchBar: rgba(10, 178, 133, 1);

}
