@use "./themes/light";
@use "./themes/dark";

* {
  box-sizing: border-box;
}

:root {
  font-family: "Assistant", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: var(--color-theme, rgb(255, 255, 255));
}