@use "./themes/light";
@use "./themes/dark";

* {
  box-sizing: border-box;
  outline-color: transparent;
}

:root {
  font-family: "Assistant", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}