@use "../../styles/abstracts/variables" as *;

.row {
  display: flex;
  height: 100%;
}

.myAccountButtonContainer {
  display: none;
}

.changeLanguageButtonContainer,
.down {
  display: none;
}

@media (orientation: landscape) and (min-width: 480px) {
  .changeLanguageButtonContainer {
    color: $color-primary;
    font-weight: 700;
    padding: 0.25rem;
    outline-color: transparent !important;
    --outline-offset: $outline-offset;
    display: flex;
    align-items: center;
  }

  .down {
    display: inline-block;
  }
  .hamburgerIconContainer {
    display: none;
  }
  .myAccountButtonContainer {
    height: 100%;
    background-color: $color-secondary;
    border-radius: 0px !important;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}

.userIcon {
  color: $color-theme;
}

.icon {
  // font-size: 1.3075rem;
  position: absolute;
}

.iconsContainer {
  position: relative;
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;

  & .hamburgerIconContainer,
  .searchIconContainer,
  .smallSizeIconContainer {
    color: $color-primary;
    --outline-offset: $outline-offset;
  }
}

.hamburgerContainer {
  color: $color-primary;
  width: 2rem;
  font-size: 2rem;
  height: 1.3075rem;
  padding-left: 0.9375rem;
}

.hamburgerIconContainer {
  width: 2rem;
  font-size: 2rem;
  transition: opacity 300ms ease-out;
  cursor: pointer;
  margin-left: 0.72125rem;

  &:active {
    opacity: 0;
  }
  &:focus {
    outline-color: $color-primary;
    --outline-offset: $outline-offset;
  }
}

.smallSizeIconContainer {
  width: 1.25rem;
  font-size: 1.25rem;
  transition: opacity 300ms ease-out;
  cursor: pointer;

  &:active {
    opacity: 0;
  }
  &:focus {
    outline-color: $color-primary;
    --outline-offset: $outline-offset;
  }
}

.searchIconContainer {
  width: 1.375rem;
  font-size: 1.375rem;
  cursor: pointer;

  &:focus {
    outline-color: $color-primary;
    --outline-offset: $outline-offset;
  }
}

.userIcon:focus {
  outline-offset: 2px;
  border-radius: 4px;
}

header {
  background-color: $color-theme;
  width: 100%;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: (center, 100%);
  padding-inline: 1rem;

  img {
    width: 6.4375rem;
  }
}

@media (orientation: landscape) and (max-width: 520px) {
  .iconsContainer {
    gap: 1rem;
  }
}
