@use "@/styles/abstracts/variables" as *;

.languageButton {
  display: none;
}

.downContainer {
  top: 0.0625rem;
}

@media (orientation: landscape) and (min-width: 480px) {
  .languageButton {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5625rem;
    width: fit-content;
    background-color: transparent;
    color: $color-primary;
    font-weight: 700;
    font-size: 1.3125rem;
    padding: 0.25rem;
    border: none;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid $color-primary;
      outline-offset: 2px;
      border-radius: 2px;
    }
  }
}
