@use "../../styles/abstracts/variables" as *;

.languageButton {
  display: none;
}

@media (orientation: landscape) and (min-width: 480px) {
  .languageButton {
    display: inline-block;
    width: fit-content;
    background-color: transparent;
    color: $color-primary;
    font-weight: 700;
    font-size: 1.3125rem;
    padding: 0.25rem;
    outline-color: $color-primary;
     --outline-offset: $outline-offset;
  }
}
