@use "../../styles/abstracts/variables" as *;

.newsBar {
  position:absolute;
  top:0;
  z-index:1;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(69, 42, 122, 1);

  h1 {
    font-size: 1.125rem;
    margin: 0;
    height: auto;
    white-space: nowrap;
    outline-offset: $outline-offset;
    font-weight: 700;
  }

  button {
    border-radius: 0;
    background-color: transparent;
    height: 100%;
    color: $color-header-background;
    padding: 0;
  }

  span {
    margin-inline: 1rem;
  }
}

.newsTrackContainer {
  position: relative;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
  display: flex;
  align-items: center; /* ממרכז אנכית את התוכן */
}

.newsTrack {
  display: inline-flex;
  align-items: center;
  animation: scroll-loop 15s linear infinite;
  height: 100%;
}

.pauseIconNewsBar {
  color: $color-header-background !important;
  outline-offset: $outline-offset;
  height: 100%;
  margin-inline-start: 0.75rem;
  margin-inline-end: 1rem;
  padding: 0;
}

.newsItem {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.125rem;
  line-height: 1;
  white-space: nowrap;
}

@keyframes scroll-loop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (orientation: landscape) and (min-width: 520px) {
  .pauseIconNewsBar {
    margin-inline-start: 1.5rem;
    margin-inline-end: 1.5rem;
  }

  .newsBar {
      background: linear-gradient(
    to left,
    rgba(69, 42, 122, 1) 0%,
    transparent 95%
  );
    span {
      margin-inline: 1.5rem;
    }
  }
}
