@use "@/styles/abstracts/variables" as *;

.searchBar {
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-theme !important;
  position: relative;
}



.searchInput {
  width: 100%;
  height: 100%;
  background-color: $color-theme;
  border-color: transparent;
  font-size: 1.5rem;
  // padding-right: 1rem;
  line-height: 2rem;

  &::placeholder {
    font-weight: 400;
    color: $color-primary;
    font-size: 1.5rem;
  }
}

.searchInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.buttonsSearchBar {
  position:relative;
  background-color: $color-theme;
  border: none;
  cursor: pointer;
  position: relative;
  width: fit-content;
  padding: 0;
  margin-inline-start: 2.5rem;
  // padding-inline-end: 1.1875rem;
  margin-block-start:0.5rem;
}
.closeSearchContainer {
  margin-inline-end: 2.5rem;
  &:focus {
    outline: 2px solid $color-primary !important;
    outline-offset: 2px !important;
    border-radius: 4px;
  }
}

.searchIconContainer {
  padding-inline-end: 1.1875rem;
  &:focus {
    outline: 2px solid $color-secondary !important;
    outline-offset: 2px !important;
    border-radius: 4px;
  }
}

.closeSearch {
  color: $color-primary;
  width: 2.65125rem;
  outline-color: transparent;
}
.SearchIconInBar {
  color: $color-secondary;
  background-color: transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (orientation: landscape) {
.searchIconContainer {
  margin-inline-start: 3.75rem;

}
}
