@use "../../styles/abstracts/variables" as *;

.searchBar {
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  background-color: $color-theme !important;
  padding-inline: 0.5rem;
  position:relative
}

.searchInput {
  width: 100%;
  height: 100%;
  background-color: $color-theme;
  border-color: transparent;
  font-size: 1.5rem;
  // padding-right: 1rem;
  line-height: 2rem;

  &::placeholder {
    font-weight: 400;
    color: $color-primary;
    font-size: 1.5rem;
  }
}

.searchInput::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.buttonsSearchBar {
  background-color: $color-theme;
  border: none;
  cursor: pointer;
  position: relative;
  width: fit-content;
  padding: 0;
  padding-inline-start: 2rem;

  &:focus {
    /* use outline so the ring is drawn with the native outline mechanism
       add !important as a fallback to override global outline-color rules */
    outline: 2px solid $color-secondary !important;
    outline-offset: 2px !important;
    border-radius: 4px;
  }
}

.cleanSearch {
  color: $color-primary;
  width: 2.65125rem;
  outline-color: transparent;
}
.SearchIconInBar {
  color: $color-secondary;
  width: 2.65125rem;
  background-color: transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

        &:focus-visible {
          outline: 2px solid $color-secondary !important;
          outline-offset: 2px !important;
          border-radius: 50%;
        }
  


}


@media (orientation: landscape) {
  .buttonsSearchBar {
    margin-inline-start: 0.5rem;
  }

  .searchBar {
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
  }
}
