@use "@/styles/components/image-sizes";

.image {
  display: block;
  z-index:0;
  // width: 100%;
  height: auto;
  border-radius: var(--radius, var(--radius-whats-new));
  object-fit: var(--object-fit, var(--object-fit-default));
}
