:root {
  font-family: Assistant, Poppins;

  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heroWrapper {
  position: relative;
  width: 100%;
  height: 35.75rem;
}

@media (orientation: landscape) and (min-width: 670px) {
  .heroWrapper {
    height: 41.375rem;
  }
}

a {
  /* font-weight: 500;
  color: #646cff; */
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  width: fit-content;
  border: none;
  outline-color: transparent !important;
  background-color: transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* button:focus,
button:focus-visible {
  outline-color: -webkit-focus-ring-color;
} */
