@use "@/styles/abstracts/variables" as * ;

.mainHeading {
  font-weight: 700;
  color: $color-primary;
  font-size: 2.25rem;
  margin-bottom: 2rem;

  @media (orientation: landscape) and (min-width: 668px) {
    font-size: 3.375rem;
      margin-bottom: 7rem;

  }
}