@use "../../styles/abstracts/variables" as *;



.headerNavLinks {
  display: none;
}

@media (orientation: landscape) and (min-width: 1024px) {
  
.headerNavLinks {
  margin-inline:3rem;
  display:flex;
  align-items: center ;
  gap:4rem
}

.headerNavLinks a {

  color: var(--color-navbar-links);
  width: fit-content;
  font-weight: 700;
  font-size:1.3125rem;
  padding: 0.25rem;
  align-content: center;;
  // outline-color: color-navbar-icons;
  height:fit-content;
    &:focus {
    outline-color: $color-navbar-links;
    --outline-offset: $outline-offset;
  }
}

}

